<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contacto</title>
  <link rel="stylesheet" href="/styles/estilos.css">
</head>
<body>
  <nav>
      <a href="./">Inicio</a>
  </nav>
  <h1>Contacto</h1>

  <form action="/contacto" method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" required />

    <label for="correo">Correo electrónico</label>
    <input type="email" id="correo" name="correo" required />

    <label for="mensaje">Mensaje</label>
    <textarea id="mensaje" name="mensaje" required></textarea>

    <button type="submit">Enviar</button>
  </form>

</body>
</html>