<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sergio Orozco - CV</title>
  <link rel="stylesheet" href="/styles/estilos.css">
</head>
<body>

  <nav>
    <a href="./contacto">Contacto</a>
    <a href="./">Inicio</a>

  </nav>

  <h1>Sergio Orozco</h1>
  <p>Estudiante de Desarrollo de Software</p>

  <h2>Acerca de mí</h2>
  <p>
    Soy estudiante de Ingeniería en Desarrollo de Software en 
    el ITESO, tengo 20 años.
  </p>

  <h2>Tecnologías</h2>
  <ul>
    <li>JavaScript</li>
    <li>Mongo</li>
    <li>HTML / CSS</li>
    <li>SQL</li>
    <li>Dgraph</li>
  </ul>

  <h2>Proyectos</h2>
  <ul>
    <li><strong>CV en línea</strong> -- Este mismo proyecto</li>
    <li><strong>Calendario</strong> -- Calendario compatible con google, hecho en web1</li>
  </ul>

  <h2>Estudios</h2>
  <p>Ingeniería en Desarrollo de Software -- ITESO (en curso)</p>

  <h2>Intereses</h2>
  <p>Bases de datos</p>

</body>
</html>